# Исключение виртуального окружения
wheel_of_life_env/

# Исключение файлов базы данных и миграций
*.sqlite3

# Конфиденциальные настройки и файлы
.env

# Системные файлы
__pycache__/
*.pyc
*.pyo
.DS_Store
